@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>Matt Martiny</h3>
</hgroup>
<div class="row-fluid">

    <p class="about">
        <img src="~/Content/Images/Matt Martiny.jpg" class="pull-left aboutPic" /> Matt Martiny was born on July 16th, 1989 to two loving parents in Kansas City, MO. He became interested in Web Development in high school. Matt has always had a creative mind. He loved drawing, coloring and indulging his brain as a child. As an adult, he has taken graphic design, web development, and numerous other courses to help him achieve his goal of becoming the best web developer he can be. In his free time, he enjoys playing and watching sports, reading, video games and spending time with his his friends and family.
</div>