@{
    ViewBag.Title = "Home Page";
}

<div class="slider-bg row">
    <ul class="rslides col-xs-8">
        <li>
            <img src="~/Content/Images/optUmp.png" />
        </li>
        <li><img src="~/Content/Images/Logos/babylon7.jpg" alt=""></li>
        <li><img src="~/Content/Images/Logos/A_Game.png" alt=""></li>
        <li><img src="~/Content/Images/Logos/NStitches.gif" alt=""></li>
        <li><img src="~/Content/Images/Graphics/'merica.png" alt=""></li>
        <li><img src="~/Content/Images/Logos/Sharks_Equipment.gif" /></li>
    </ul>
    <img src="~/Content/Images/MattBusiness.gif" class="business col-xs-4" />
</div>
<p class="home-content">
Hello! My name is Matt(hew) Martiny! (pronounced like the beverage, hence the theme of the site). I've had interest with development and design since I was a freshman in high school, writing HTML for a neighborhood wiffle ball site. I went to school at Johnson County Community College in interactive media and graphic design, graduating with an associates degree in 2013. Since then, I've worked numerous jobs, some within the web development industry, some in the graphic design industry, and some that were in no way associated in either industry. It was in 2017, after working a non-industry job for over a year and a half, I realized going back to school and getting updated on the newest technology was a must. My favorite aspect of development is front-end, though I enjoy every tier of coding. I'm currently looking for a development position in the field I love.

</p>