
@{
    ViewBag.Title = "Resume";
}
<div id="Resume">
    <div id="Resume-head">
        <h2 class="r-title">Matthew J. Martiny</h2>
        <h3>Web Developer, Graphic Designer, Social Media Marketer</h3>
        <h3><em>&quot;Anything but dry&quot;</em></h3>
        <h3>(913) 526-0277 &nbsp;| | &nbsp; <a href="mailto:mattmartiny@yahoo.com">mattmartiny(at)yahoo.com</a>    </h3>
        <a href="~/Content/Matthew_Martiny_Resume.pdf" download>Download Resume</a>
    </div>

    

    <hr style="color:black;" />

    <h3 style="text-decoration:underline;">Qualification Summary</h3>
    <ul>
        <li>PROJECT MANAGEMENT – Oversee various website projects from conception through completion.</li>
        <li>SOCIAL MEDIA MARKETING – Use Facebook, Twitter, Snapchat, YouTube, Pinterest and other social media sites to reach a variety of users in a professional setting.</li>
        <li> RESEARCH AND ANALYSIS – Measure and report digital marketing campaign performance utilizing Google Analytics and Data Studio (beta), SQL, and advanced Microsoft Excel functions. </li>
        <li>WEBSITE MANAGEMENT – Evaluate, plan, and optimize web content and SEO using content.</li>
        <li> EMAIL CREATION AND ANALYSIS – Develop engaging email campaign content, create HTML, adhere to email best practices, A/B test, measure, and analyze campaign results.</li>
        <li> CONTENT DEVELOPMENT – Create written and visual content for website, user experience interface design including UX wireframes, mockups and prototypes.</li>
        <li> Middle and back-end development experience with languages such as SQL and C#. </li>
        <li>Knowledge of designing and developing full-stack web applications using .NET framework.</li>
        <li>Experience with WordPress development and PHP</li>
    </ul>

    <h3 style="text-decoration:underline;">Related experience</h3>
    <h4><strong>Software Engineering and .NET Web Developer (contract)</strong></h4>
    <h4>Interactive Technologies Inc.</h4>
    <h4>2018-2019</h4>
    <ul>
        <li>Develop a BETA phone application in <em>Xamarin.iOS</em> using Core Bluetooth. </li>
        <li>
            Design and develop an <em>ASP.NET MVC</em> website/web application for the company.
        </li>
        <li>Use tools such as google and stack overflow to solve problems that arise. </li>
        <li>Implement Front End, Back End and Middle Tier in the web application using skills and languages such as <em>LINQ, jQuery, HTML5, CSS3, Database Design, SQL, C#,</em> and others.</li>

    </ul>
    <br />
    <h4><strong>Marketing, Social Media, and Website Development</strong></h4>
    <h4>Healthmate International</h4>
    <h4>2015 - 2016</h4>
    <ul>
        <li>Create numerous “blog” sites with content and develop them in <em>WordPress</em> using <em>HTML5, CSS3, PHP</em> and <em>JavaScript</em> </li>
        <li>
            Manage <em>social media marketing</em> campaigns including <em>YouTube, Facebook, Pinterest,</em> and <em>Twitter</em> as directed.
        </li>
        <li>Responsible for <em>online content management, Search Engine Optimization</em> and <em>Google Analytics</em> </li>
        <li>Create graphics in <em>Adobe Photosho</em>p for online storefronts  </li>
        <li>Manipulate existing graphics for digital and print media</li>
    </ul>
    <br />
    <h4><strong>Freelance Graphic/Web Designer</strong></h4>
    <h4>Martiny Graphic and Web Design</h4>
    <h4>2008 - Present</h4>
    <ul>
        <li>Create graphics and logos for organizations, companies and individuals in print and digital form </li>
        <li>Create mock ups and/or full web pages for clients </li>
        <li>Create print, digital, audio and/or video media tailored to client’s needs </li>
        <li>Develop personal website, using <em>HTML5, CSS3, PHP, Responsive Design, JQuery</em> and <em>JavaScript</em> </li>
        <li>Use mediums such as <em>Adobe Creative Suite, Audacity,</em> and <em>WordPress</em> </li>
    </ul>
    <br />

    <h4><strong>Computer Operator (seasonal)</strong></h4>
    <h4>Herff Jones</h4>
    <h4>2014 - 2015</h4>
    <ul>
        <li>Use <em>Adobe Creative Suite</em>, specifically <em>Photoshop</em> and <em>InDesign</em>, to help prepare yearbooks for print  </li>
        <li>Operate <em>Mac</em> and/or <em>Windows</em> operating system depending on client’s needs </li>
        <li>Use varying FTP servers to download and access files </li>
        <li>Problem solve based on specific complications that arise </li>
    </ul>
    <br />
    <h4><strong>Maintenance, Field Supervisor and Graphic Artist (Seasonal)</strong></h4>
    <h4>Johnson County Parks and Recreation</h4>
    <h4>2013 - 2014, 2016 - Present</h4>
    <ul>
        <li>Specialty graphics as needed using <em>Adobe Illustrator</em> and <em>Adobe Photoshop</em>  </li>
        <li>Create print and digital media flyers for events and programs </li>
        <li>Maintenance duties as assigned </li>
        <li>Field Supervision  </li>
    </ul>
    <br />
    <h4><strong>BDC Representative and Graphic/Web Designer</strong></h4>
    <h4>Hendrick Volvo of Kansas City</h4>
    <h4>2010 - 2013</h4>
    <ul>
        <li>Develop new dealership website using <em>HTML</em> and <em>CSS</em>  </li>
        <li>Create graphics and advertisements using <em>Adobe Photoshop</em></li>
        <li> Manage social media accounts including <em>Facebook</em> and <em>Twitter</em> </li>
        <li>General Site maintenance</li>
        <li>Use <em>Google Analytics</em> to find web traffic and cater advertisements accordingly</li>
        <li>Cold call potential customers in effort to get them to come to the dealership</li>
    </ul>
    <br />

    <h3 style="text-decoration:underline;">Education</h3>
    <h4><strong>Centriq Training</strong></h4>
    <h5>
        Full Stack Web Development Program<br />
        Graduated 2018<br />
        <strong>Core Technology:</strong>
    </h5>
    <ul>
        <li><strong>Front End:</strong> HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap </li>
        <li><strong>Middle Tier:</strong>Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF  </li>
        <li><strong>Back End:</strong>ADO.NET, SQL, SQL Server, SSMSE </li>
    </ul>
    <br />
    <h4><strong>Johnson County Community College</strong></h4>
    <h5>
        Interactive Media Associates Degree <br />
        Graduated 2013<br />
        <strong>Key Studies:</strong>
    </h5>
    <ul>
        <li>Web Development</li>
        <li>Video/Photography/Sound Production</li>
        <li>Graphic Design</li>
    </ul>






    <h3 style="text-decoration:underline;">Additional experience</h3>
    <h4><strong>Wash Services Manager</strong></h4>
    <h4>Arrowhead Intermodal LLC</h4>
    <h4>2016 - 2018</h4>
    <ul>
        <li>Responsible for cleaning and power washing all refrigerated containers on the premises </li>
        <li>Writing and maintaining records of any required work beyond normal cleaning process </li>
        <li>Maintain a clean property, free of wood, nails and other debris originated from containers </li>
    </ul>

</div>