
@{
    ViewBag.Title = "Index";
}

<h2>Code</h2>

<h3 class="h3">@Html.ActionLink("Quarterback Rating Calculator", "QBRating")</h3>
<p>A Quarterback rating calculator and the code for it. </p>
<br />
<br />
<h3 class="h3">@Html.ActionLink("MidWest Shock Quiz", "MWQuiz")</h3>
<p>A quiz to determine which MidWest Shock Player you might be. Code is in the Results page.</p>